[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-bdd = "*"
pluggy = "*"
packaging = "*"
iniconfig = "*"
pytest-watch = "*"
pytest-testmon = "*"
coverage = "*"

[requires]
python_version = "3.9"
